<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- This key is used decide which configuration class to build -->
		<add key="Browser" value="chrome" />
		<add key="Browser.UseDriverDirectory" value="false" />
		<add key="Browser.DriverDirectoryEnvironmentVariableName" value="ChromeWebDriver" />
		<!---Key used for configuation independent of driver-->
		<add key="DownloadFolderPath" value="C:\SeleniumTestFolder" />
		<!-- The Url of the application under test/check -->
		<add key="ApplicationUrl" value="https://qa-sandbox.apps.htec.rs/login" />
		<!-- Users and roles -->
		<add key="User.StandardUser.Stefan" value="salipurevic.stefan@gmail.com:Projectpass212" />

		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>